@model SisVendas.Models.ViewModels.VendedorFormViewModel

@{
    ViewData["Title"] = "Editar Vendedor";
}

<h4>@ViewData["Title"]</h4>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Vendedor.IdVend" />

            <div class="form-group">
                <label asp-for="Vendedor.StrNomeVend" class="control-label">Vendedor</label>
                <input asp-for="Vendedor.StrNomeVend" class="form-control" />
                <span asp-validation-for="Vendedor.StrNomeVend" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.strEmail" class="control-label">Email</label>
                <input asp-for="Vendedor.strEmail" class="form-control" />
                <span asp-validation-for="Vendedor.strEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.douSalBase" class="control-label">Salário Base</label>
                <input asp-for="Vendedor.douSalBase" class="form-control" />
                <span asp-validation-for="Vendedor.douSalBase" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Vendedor.strSenha" class="control-label">Salário Base</label>
                <input asp-for="Vendedor.strSenha" class="form-control" />
                <span asp-validation-for="Vendedor.strSenha" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retorna Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
