@model SisVendas.Models.ViewModels.ClienteFormViewModel

@{
    ViewData["Title"] = "Criar Cliente?";
}


<h4>@ViewData["Title"]</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cliente.strNomeCli" class="control-label"></label>
                <input asp-for="Cliente.strNomeCli" class="form-control" />
                <span asp-validation-for="Cliente.strNomeCli" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.DtNasc" class="control-label"></label>
                <input asp-for="Cliente.DtNasc" class="form-control" />
                <span asp-validation-for="Cliente.DtNasc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.SexoId" class="control-label"></label>
                <select asp-for="Cliente.SexoId" asp-items="@(new SelectList(Model.Clientes,"Id", "Nome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.UFId" class="control-label"></label>
                <select asp-for="Cliente.UFId" asp-items="@(new SelectList(Model.Clientes,"Id", "Nome"))" class="form-control"></select>
                
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retorna Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
