@model SisVendas.Models.Vendas

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Vendas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VendedorId" class="control-label"></label>
                <select asp-for="VendedorId" class ="form-control" asp-items="ViewBag.VendedorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PagtoId" class="control-label"></label>
                <select asp-for="PagtoId" class ="form-control" asp-items="ViewBag.PagtoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="dtVenda" class="control-label"></label>
                <input asp-for="dtVenda" class="form-control" />
                <span asp-validation-for="dtVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
