@model SisVendas.Models.ViewModels.VendasFormViewModel
@using  SisVendas.Models.Enums
@{
    ViewData["Title"] = "Cadastrar Vendas";
}

<h4>@ViewData["Title"]</h4>

<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Venda.VendedorId" class="control-label">Vendedor</label>
                <select asp-for="Venda.VendedorId" asp-items="@(new SelectList(Model.Vendedores,"IdVend", "StrNomeVend"))"  class="form-control">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Venda.ClienteId" class="control-label">Cliente</label>
                <select asp-for="Venda.ClienteId" asp-items="@(new SelectList(Model.Clientes, "IdCli", "strNomeCli"))" class="form-control">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Venda.FormaPagtoId" class="control-label">Pagto</label>
                <select asp-for="Venda.FormaPagtoId" asp-items="@(new SelectList(Model.FormaPagtos, "IdPagto", "strPagto"))" class="form-control">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Venda.dtVenda" class="control-label"></label>
                <input asp-for="Venda.dtVenda" class="form-control" />
                <span asp-validation-for="Venda.dtVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venda.Status" class="control-label"></label>
                <select asp-for="Venda.Status"  asp-items="Html.GetEnumSelectList<StatusVendas>()" class="form-control">
                    <option></option>
                </select>
                <span asp-validation-for="Venda.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retorna Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
