<div class="col-lg-2">
    <button type="button" class="btn btn-block btn-primary" onclick="AdicProd()">Adicionar</button>
</div>

<table border="1">
    <tbody id="ListProd"></tbody>
</table>



<script >

    var i = 0;

    function AdicProd() {

        i += 1;
        var Produto = "<tr>" +
            "<td> Conteúdo Linha "+ i +"</td>" +
            "<td>  <button type='button' class='btn btn-default btn-danger' onclick='removerLinha(this)'>Excluir</button>" + "&nbsp " + "</td>" +
            "</tr>";
      

        // preenche a table com os Produtos
        ListProd.innerHTML += Produto;
    }


    // Função responsável em receber um objeto e extrair as informações necessárias para a remoção da linha.
    function removerLinha(obj) {

        // Capturamos a referência da TR (linha) pai do objeto
        var objTR = obj.parentNode.parentNode;
        // Capturamos a referência da TABLE (tabela) pai da linha
        var objTable = objTR.parentNode;
        // Capturamos o índice da linha
        var indexTR = objTR.rowIndex;
        // Chamamos o método de remoção de linha nativo do JavaScript, passando como parâmetro o índice da linha
        objTable.deleteRow(indexTR);
        // Exibe uma mensagem de confirmação da remoção
        alert("Remoção Efetuada com Sucesso!!");
    }
</script>