@model SisVendas.Models.Departamento

@{
    ViewData["Title"] = "Details";
}

<h4>Detalhes Departamento</h4>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nome Departamento")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.strDepto)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDepto">Editar</a> |
    <a asp-action="Index">Retornar Lista</a>
</div>
