@model SisVendas.Models.ViewModels.ProdutoFormViewModel

@{
    ViewData["Title"] = "Editar Produto";
}

<h4>@ViewData["Title"]</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <input type="hidden" asp-for="Produto.IdProd" />

            <div class="form-group">
                <label asp-for="Produto.strNomeProd" class="control-label">Produto</label>
                <input asp-for="Produto.strNomeProd" class="form-control" />
                <span asp-validation-for="Produto.strNomeProd" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Produto.douPreco" class="control-label">Valor produto</label>
                <input asp-for="Produto.douPreco" class="form-control" />
                <span asp-validation-for="Produto.douPreco" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
